<html>
  <head>
    <title>예원's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">예원's blog</a></h1>
    </div>

    <div>
      <p>published: 09.01.2025, 07:14</p>
      <h2><a href="">나의 첫 게시물</a></h2>
      <p>
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
        vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus.
      </p>
    </div>

    <div>
      <p>published: 09.01.2025, 08:14</p>
      <h2><a href="">나의 두 번째 게시물t</a></h2>
      <p>
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
        vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.
      </p>
    </div>
  </body>
</html>
